<div class="jobs__section">
    <div class="section__header" data-aos="fade-up" data-aos-duration="1000">
        <h2 class="section__title">Services</h2>
        <span class="section__subtitle">What I do</span>
        <hr class="hr__header">
    </div>
    <div class="service__wrapper" data-aos="fade-up" data-aos-duration="1500">
        <!--========= service card 1 =========-->
        <div class="service__card">
            <div class="service__icon">
                <i class="ri-layout-4-fill"></i>
            </div>
            <h3 class="service__title">Frontend<br>Development</h3>
            <!-- <a href="#" class="service__link">Know More</a> -->
        </div>
        <!--========= service card 2 =========-->
        <div class="service__card">
            <div class="service__icon">
                <i class="ri-code-s-slash-line"></i>
            </div>
            <h3 class="service__title">Backend<br> Development</h3>
            <!-- <a href="#" class="service__link">Know More</a> -->
        </div>
        <!--========= service card 3 =========-->
        <div class="service__card">
            <div class="service__icon">
                <i class="ri-pen-nib-fill"></i>
            </div>
            <h3 class="service__title">UI<br> Design</h3>
            <!-- <a href="#" class="service__link">Know More</a> -->
        </div>
    </div>
</div>