<div class="contact__section">
    <div class="contact__wrapper" data-aos="fade-up" data-aos-duration="1500">
        <div class="contact__content">
            <h2 class="contact__title">I'd be really appreciate to talk with you!</h2>
            <p class="contact__description">
                If you think my profile matches what you are looking for, 
                do not hesitate to contact me.
            </p>
        </div>
        <button class="btn__contact" data-aos="fade-up" data-aos-duration="2000">
            <a href="mailto:davidz.vip@hotmail.com?subject=Mail from Portfolio." >
                Get in touch
            </a>
        </button>
    </div>
</div>