<div class="about__section">
    <div class="section__header" data-aos="fade-up" data-aos-duration="1000">
        <h2 class="section__title">About Me</h2>
        <span class="section__subtitle">Who am I</span>
        <hr class="hr">
    </div>
    <div class="about__wrapper">
        <div class="about__content" data-aos="fade-up" data-aos-duration="1500">
            <h3 class="about__title">I'm a Full Stack Developer.</h3>
            <p class="about__description">
                I am enthusiast of programming world. For some years I have been developing web applications.
                Using technologies such as: Angular, Node.js, Nest.js, MySQL, PostgreSQL, MongoDB, Docker, Bootstrap, among others. I like team work!
            </p>
            <!-- <button type="button"><a class="btn btn__primary">Know More</a></button> -->
            <button class="btn btn--primary"><a href="https://github.com/davidzambrano-a" target="_blank" class="read" >Read More</a></button>
        </div>
        <div class="skills" data-aos="fade-up" data-aos-duration="1500">
            <h3 class="skills__title">Technologies I've been working with:</h3>
            <div class="skills__wrapper">
                <div class="skills__content">
                    <h4 class="skills__subtitle">Backend</h4>
                    <ul class="skills__list">
                        <li class="skills__item"><i class="ri-arrow-right-s-fill"></i>
                            Node.js | TypeScript
                        </li>
                        <li class="skills__item"><i class="ri-arrow-right-s-fill"></i>
                            Nest.js
                        </li>
                        <li class="skills__item"><i class="ri-arrow-right-s-fill"></i>
                            Docker
                        </li>
                        <li class="skills__item"><i class="ri-arrow-right-s-fill"></i>
                            MySQL
                        </li>
                        <li class="skills__item"><i class="ri-arrow-right-s-fill"></i>
                            PostgreSQL
                        </li>
                        <li class="skills__item"><i class="ri-arrow-right-s-fill"></i>
                            MongoDB
                        </li>
                        <li class="skills__item"><i class="ri-arrow-right-s-fill"></i>
                            Render Cloud | Azure
                        </li>
                        <li class="skills__item"><i class="ri-arrow-right-s-fill"></i>
                            Git
                        </li>
                    </ul>
                </div>
                <div class="skills__content" data-aos="fade-up" data-aos-duration="2500">
                    <h4 class="skills__subtitle">Frontend</h4>
                    <ul class="skills__list">
                        <li class="skills__item"><i class="ri-arrow-right-s-fill"></i>
                            Angular
                        </li>
                        <li class="skills__item"><i class="ri-arrow-right-s-fill"></i>
                            Angular Material
                        </li>
                        <li class="skills__item"><i class="ri-arrow-right-s-fill"></i>
                            RxJS
                        </li>
                        <li class="skills__item"><i class="ri-arrow-right-s-fill"></i>
                            CSS / Sass
                        </li>
                        <li class="skills__item"><i class="ri-arrow-right-s-fill"></i>
                            Bootstrap
                        </li>
                        <li class="skills__item"><i class="ri-arrow-right-s-fill"></i>
                            Git
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>