<div class="home__wrapper">
    <div class="home__content">
        <div class="home__content--info" data-aos="fade-up" data-aos-duration="1500">
            <h1 class="home__title">Hi, I am David Zambrano,<br>Full Stack Developer.</h1>
            <!-- <p class="teach">Teach <span class="typed__text"></span><span class="cursor">&nbsp;</span></p> -->
            <div class="typingEffect">
                <div class="text">Coding in</div>
                <div class="textTyping">
                    <li><span>Angular</span></li>
                    <li><span>Nest.js</span></li>
                    <li><span>Git</span></li>
                    <li><span>Docker</span></li>
                </div>
            </div>
            <hr class="hr">
            <p class="home__description">"Coding, we can making the world a better place."</p>
        </div>
        <div class="home__info" data-aos="fade-up" data-aos-duration="2000">
            <div class="home__info-wrapper">
                <p class="home__info-number">4</p>
                <h2 class="home__info-title">Years<br>Experience</h2>
            </div>
            <div class="home__info-wrapper">
                <p class="home__info-number">15+</p>
                <h2 class="home__info-title">Projects<br>Completed</h2>
            </div>
            <div class="home__info-wrapper">
                <p class="home__info-number">02+</p>
                <h2 class="home__info-title">Companies<br> Worked</h2>
            </div>
        </div>
    </div>
    <div class="image" data-aos="fade-down" data-aos-duration="1500">
        <img src="../../../assets/img/DavidCarnet_3.png" loading="lazy" title="David Zambrano" alt="profile">
    </div>
</div>
<app-about></app-about>
<app-qualification></app-qualification>
<app-jobs></app-jobs>
<app-projects></app-projects>
<app-contact></app-contact>
<app-go-up></app-go-up>