<div class="projects__section">
    <div class="section__header" data-aos="fade-up" data-aos-duration="1000">
        <h2 class="section__title">Projects</h2>
        <span class="section__subtitle">My recent works</span>
        <hr class="hr__header">
    </div>
    <div class="project__wrapper">
        <!--============== project 1 =============-->
        <div class="project__content" data-aos="fade-up" data-aos-duration="1500">
            <img src="assets/img/project1.jpg" alt="Agency Website" class="project__img">
            <h3 class="project__title">Game Store</h3>
            <p class="project__description">Web site Dynamic Application. <br>- Backend: Nestjs, PostgreSQL, &nbsp;&nbsp;Docker, Render Cloud, Git. 
                <br>- Frontend: Angular 14, Angular &nbsp;&nbsp;Material, SCSS, Git, and among &nbsp;&nbsp;others</p>
            <a href="https://game-store-pg.netlify.app/home" class="project__link" target="_blank">View Project
                <i class="ri-arrow-right-line"></i></a>
        </div>
        <!--============== project 2 =============-->
        <div class="project__content" data-aos="fade-up" data-aos-duration="2000">
            <img src="assets/img/project2.jpg" alt="Crypto Application " class="project__img">
            <h3 class="project__title">Crypto Application</h3>
            <p class="project__description">Crypto Currency Application. <br> - Angular 14, RxJS, Bootstrap, <br>- External currency API</p>
            <a href="https://crypto-currency-i.netlify.app/currency" target="_blank" class="project__link">View Project
                <i class="ri-arrow-right-line"></i></a>
        </div>
        <!--============== project 3 =============-->
        <div class="project__content" data-aos="fade-up" data-aos-duration="2500">
            <img src="assets/img/project3.jpg" alt="Ecommerce Website" class="project__img">
            <h3 class="project__title">Weather Forecast</h3>
            <p class="project__description">Weather forecast application. <br> - Angular 14, RxJS, <br> - External weather API, <br> - Geolocation, among others.</p>
            <a href="https://cast-weather.netlify.app/cast-weather" target="_blank" class="project__link">View Project
                <i class="ri-arrow-right-line"></i></a>
        </div>
    </div>
</div>