<div class="qualification__section">
    <!--=================== Qualification ====================-->
    <div class="section__header" data-aos="fade-up" data-aos-duration="1000">
        <h2 class="section__title">Qualification</h2>
        <span class="section__subtitle">Experience & Education</span>
        <hr class="hr__header">
    </div>
    <!--============== Professional Experience ============-->
    <div class="qualification__wrapper">
        <h3 class="qualification__name" data-aos="fade-up" data-aos-duration="1500">
            <i class="ri-briefcase-fill"></i>
            Professional Experience
        </h3>
        <div class="qualification__content" data-aos="fade-up" data-aos-duration="1500">
            <!-- Experience 1-->
            <div class="qualification__item">
                <h3 class="qualification__title">Full Stack Developer as Freelance</h3>
                <p class="qualification__description">
                    As a Freelance I have had the opportunity to develop: Static web application, Dynamic web
                    application, Blogs, E-Commerce, etc.
                    <br>
                    Using technologies such as: Angular, Nest.js, Docker, MySQL, PostgreSQL, MongoDB.
                    <!-- Furthermore, I have had the opportunity to collaborate on another Freelance projects. -->
                </p>
                <span class="qualification__date">2020 - Present</span>
            </div>
            <!-- Experience 2-->
            <div class="qualification__item">
                <h3 class="qualification__title">Web Developer at Doppo by Zurich</h3>
                <p class="qualification__description">
                    In Doppo's team. I worked in the web area using Angular. Development different types of
                    functionalities in: UI, Accessibility, Shopping Car, among others.
                    <br><br>
                    In addition, In this company I had to use: GraphQL, RxJS, MySQL, PostgreSQL.
                </p>
                <span class="qualification__date">2019 - 2020</span>
            </div>
            <!-- Experience 3-->
            <div class="qualification__item">
                <h3 class="qualification__title">Full Stack Developer at Etalon</h3>
                <p class="qualification__description">
                    I was in change of developing different functionalities of Web Applications.
                    <br>
                    In the frontend I developed using Angular, and in the Backend Nest.js, GraphQL.
                </p>
                <span class="qualification__date">2018 - 2019</span>
            </div>
        </div>
    </div>
    <!--============== Education ============-->
    <div class="qualification__wrapper">
        <h3 class="qualification__name education" data-aos="fade-up" data-aos-duration="1500">
            <i class="ri-booklet-fill"></i>
            Education
        </h3>
        <div class="qualification__content" data-aos="fade-up" data-aos-duration="2000">
            <!-- Education 1-->
            <div class="qualification__item">
                <h3 class="qualification__title">Software Engineer</h3>
                <p class="qualification__description">I studied Software Engineer at: UTE University - Ecuador</p>
                <span class="qualification__date">2009 - 2014</span>
            </div>
            <!-- Education 2-->
            <div class="qualification__item">
                <h3 class="qualification__title">Backend Development</h3>
                <p class="qualification__description">In KeepCoding BootCamp: Nest.js framework, REST API,
                    Authentication and Authorization,
                    Docker, MySQL, PostgreSQL, MongoDB, TypeORM, Mongoose, and so on.</p>
                <span class="qualification__date">2017 - 2018</span>
            </div>
            <!-- Education 3-->
            <div class="qualification__item">
                <h3 class="qualification__title">Web Developer</h3>
                <p class="qualification__description">In Udemy: Angular, Unit Test, RxJS, UI, SEO.</p>
                <span class="qualification__date">2019 - 2020</span>
            </div>
        </div>
    </div>
    <!-- <div class="qualification__footer">
            <p class="qualification__footer-text">See my full resume</p>
            <a href="#" class="btn btn--primary">Resume</a>
        </div> -->
</div>